@gameloot:registry=https://gitlab.ugaming.io/api/v4/projects/${MARKETPLACE_PROJECT_ID}/packages/npm/
//gitlab.ugaming.io/api/v4/projects/${MARKETPLACE_PROJECT_ID}/packages/npm/:_authToken=${BOT_PRIVATE_TOKEN}

@greyhole:registry=https://gitlab.ugaming.io/api/v4/projects/${MARKETPLACE_PROJECT_ID}/packages/npm/
//gitlab.ugaming.io/api/v4/projects/${MARKETPLACE_PROJECT_ID}/packages/npm/:_authToken=${BOT_PRIVATE_TOKEN}

@eagles:registry=https://gitlab.ugaming.io/api/v4/projects/${MARKETPLACE_PROJECT_ID}/packages/npm/
//gitlab.ugaming.io/api/v4/projects/${MARKETPLACE_PROJECT_ID}/packages/npm/:_authToken=${BOT_PRIVATE_TOKEN}

@marketplace:registry=https://gitlab.ugaming.io/api/v4/projects/${MARKETPLACE_PROJECT_ID}/packages/npm/
//gitlab.ugaming.io/api/v4/projects/${MARKETPLACE_PROJECT_ID}/packages/npm/:_authToken=${BOT_PRIVATE_TOKEN}